<hl>Create Work</hl>

<form method="POST" action="/work-edit/:id">
  Title:<br>
  <input type="text" name="title"><br>
  
  Work:<br>
  <input type="blob" name="content"><br><br>
  
  <input type="submit" value="Submit">
</form>