
        <section id="grid">
            <div class="container large-bottom-margin">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">My Project</h2>
                        <h3 class="underline small-bottom-padding">Made By Natalia Trejo!</h3>

                    </div>
                </div>

                <!-- Answer this Question: What is Your Project-->


                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="blue-text">What is my project and what makes it awesome?</h3>                   </div>
                </div>
                <div class="full-width">
                    <div class="small-margin small-padding round-corners light-blue-background">

                        <p>My project is a website that targets writers. It is a community place to share writing with others.You can sign-up and see recent projects from the community and write your own. </p>

                        <p>The great thing about this is that it connects people who would never talk to. It allows the user to get feedback and improve their writing. It's amazing to be with people who understand what it is like to write and respect that, but also help you improve.</p>
                        
                        <p>It will connect the new generation of writers. And even if you do not write you can still go on, read a few, and give back. This will be a safe spot, a tool to be used by the upcoming generations.</p>
                    </div>
                </div>

                <div class="full-width blue-underline small-top-padding"></div>

                <!-- Optional 1: How Your Idea Came to Be Question-->
                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="purple-text">How did you come up with your idea?</h3>
                    </div>
                </div>

                <div class="full-width">
                    <div class="small-margin small-padding round-corners light-purple-background">

                        <p>This summer I went to a summer camp that I loved, a summer camp for creative writing. It was amazing being surrounded by people who shared the same intrests and knew how it is like to write and share work. During that week we did quite a bit of peer editing and it was exhileratingly terrifying. To put out your work and let people criticize it is nerve-wracking. But it's also relieving, knowing it now isn't all in your head. </p>
                        
                        <p>Another experience that shaped the idea is rereading past work. You hate some parts and love others. Usually the ones you dislike is the ones when you were writing loved. It's a bit funny in reality. I love rereading because I can go back and fix what I dislike. Then read out loud for grammatical errors (which I'm prone to making).</p>

                        <p>That's where this idea came from. That rush, gave me this idea. I get really scared by sharing with people I know. On the internet the blow of critism is paddened and is easier to accept. There is an edit function for the creator so they can fix their mistakes.</p>


                    </div>
                </div>

                <div class="full-width purple-underline small-top-padding"></div>




                <!-- Optional 2: Table Structure Question-->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="pink-text">Why will it not look pretty?</h3>
                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-pink-background">
                        <p>It's incomplete. Nothing is ever complete. That's one thing. Also this classes have been dedicated to the back end. The stuff that runs the website not makes it look pretty. There has been no focus on that. So prettiness is a no go.</p>

                    </div>
                </div>
                <div class="full-width pink-underline small-top-padding"></div>




                <!-- Optional 3: Talk About Your Hardest Code And How You Did It -->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="green-text">What is the hardest piece of code or what was a problem you had to solve?</h3>
                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-green-background">
                        <h5 class="green-text">Provide a code sample</h5>

                        <pre>
                            <code>
class Users < ActiveRecord:Migration[5.1]
  def change
    create_table :users do |t|
      t.string :email
      t.string :username
      t.string :password
      t.integer :age
    end  
  end
end

                            </code>
                        </pre>

                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-green-background">
                        <h3 class="green-text">Why Awesome was so hard</h3>


                        <p>The hardest part was probably getting started each morning and each time I worked on it. Things wouldn't work and start and I was out of it. Seriously out of it. It was rough every time. </p>
                        
                        <p>Code wise it's capitalization and syntax. I capitalize the wrong word and forget a colon. Worst mistake. I couldn't even pull up rake commands and my console was flooded with errors. That little space between ActiveRecord and Migration did it. So much effort because of a colon. It was terrible.</p>
                        
                    </div>
                </div>
                <div class="full-width green-underline small-top-padding"></div>



                <!-- Optional 4: What Will You Do For Your Project Next? -->

  <!--              <div class="full-width">-->
  <!--                  <div class="small-padding">-->
  <!--                      <h3 class="blue-text">What is the next step?</h3>-->
  <!--                      <h5 class="blue-text">Pick one more...maybe this one?</h5>-->
  <!--                  </div>-->
  <!--              </div>-->
  <!--              <div class="fulll-width">-->
  <!--                  <div class="small-margin small-padding round-corners light-blue-background">-->

  <!--                    <p>Make it more pretty than add new </p>-->

  <!--                    <p></p>-->

  <!--                    <p>.</p>-->

  <!--                  </div>-->
  <!--              </div>-->

  <!--              <div class="full-width blue-underline small-top-padding"></div>-->


  <!-- This is the end of the div and section - don't delete! -->


                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">This Project was made for SheQL</h2>
                        <p class="small-bottom-padding">SheQL is a free, 10 week course offered to high school girls, femmes, and non-males in the Summer of 2017 by <a href="http://omahagirlswhocode.com/" target="_blank">Mystery Code Society</a> and supported with materials and space by the <a href="https://omahalibrary.org/location/
                        milton-r-abrahams-branch-blog/" target="_blank">Abrahams Branch library</a>.</p>
                        <p>This project was built using Ruby, Postgres, ActiveRecord, and Sinatra.</p>
                        <p>If you think these sites are beautiful, that is thanks to a custom front-end framework by Cara Heacock (puzzalea on github). We are so lucky to have her!</p>

                        <img src="/assets/sheql.png"  />
                    </div>
                </div>

            </div>
        </section>

