 <section id="forms">
                    <div class="container">
                        <div class="full-width">
                            <div class="small-padding">
                                <h2 class="blue-underline small-bottom-padding">Sign Up</h2>
                            </div>
                        </div>
                        <div class="third">
                            <div class="small-padding">
                                <h3>Fill Out This Form</h3>
                                <form>
                                    <label>Username *</label>
                                        <input type="text" placeholder="AmazingExcept">
                                    
                                    <label>Password *</label>
                                        <input type="text" placeholder="******"
                                        
                                    <label>Email *</label>
                                        <input type="email" placeholder="emily@example.com">
                                         
                                    <label>Age *</label>
                                        <input type="number" placeholder="13">
                                        
                                        <input type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
        <section>