<hl>Sign Up</hl>

<form method="POST" action="/signup">
  Username:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="text" name="password"><br>
  Age<br>
  <input type="integer" name="age"><br><br>
  
  <input type="submit" value="Submit">
</form>
